.details {

    background-color: lightblue;
    color: black;

  h4{
    color: white;
    text-decoration: underline red;
    border-radius: 20px;
  }


  .ingredientsContainer{
    column-count: 2;
  }

  .instructionsContainer {
    margin-top: 50px;
  }

  .btnCont button{
  margin-left: 10px;
  }
}